<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liutao.mapper.UserMapper">
 
  <select id="findUserInfo" resultType="com.liutao.entity.User" parameterType="java.lang.String">
    select name, age,password from user where name = #{username};
  </select>
</mapper>